main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 70px 0px 30px 0px;
}
.board-container {
  gap: 10px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}

@keyframes success-animation {
  0% {
    background-color: white;
    transform: scale(1);
  }
  50% {
    background-color: green;
    transform: scale(1.2);
  }
  100% {
    background-color: white;
    transform: scale(1);
  }
}

@keyframes failure-animation {
  0% {
    background-color: white;
    transform: scale(1);
  }
  50% {
    background-color: red;
    transform: scale(1.2);
  }
  100% {
    background-color: white;
    transform: scale(1);
  }
}

.succese {
  animation: success-animation 1s ease-in-out infinite;
}

.fail {
  animation: failure-animation 1s ease-in-out infinite;
}
